.Home {
    background: url("https://images.hdqwalls.com/download/mountain-glasgow-4k-l4-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;
    width: 100vw;
  }
  
  .Title {
    /*Used for EzTravel title only*/
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 7.5rem;
    margin: 0;
    padding: 70px;
  }
  
  .Subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    position: relative;
    bottom: 60px;
    justify-content: center;
    background: rgb(250, 185, 194);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .ListCountry {
    /*Used for every other component, budget, duration and ListCountries*/
    font-family: sans-serif;
    text-align: center;
    padding: 0 250px;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 2;
    color: white;
  }
  