.itinerary {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    background: url("https://images.hdqwalls.com/download/mountain-glasgow-4k-l4-1920x1080.jpg");
    font-size: 2.5rem;
    height: 50vh;
    margin: 0;
  }
  