.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
  }
  
  .text {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
  }
  
  .subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    font-size: 1.5rem;
  }